# Environment variables
.env

# Operating System Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log
logs/

# Uploaded files
public/uploads/

# Composer
vendor/
composer.lock

# Node modules
node_modules/
package-lock.json

# Cache
*.cache
.cache/

# Temporary files
*.tmp
*.temp